<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Your event confirmation page for your FOCUS Driven Learning Framework</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation Deleted by MWE, as not necessary for our purposes -->
    <div class="container">
        <img src="learningjourney_2.png" class="img-responsive" width=99%>
    </div>
    <hr>

    <!-- Page Content -->
    <div class="container">

      <h2 class="my-4" "center-block">Your are invited to the Event "EXXX" in "elocation" from "sdate" to "edate"!</h2>
      <p> Dear colleague, please <strong>confirm</strong> or <strong>decline</strong> your invitiation. </p>
      <p> If you register for the event, but withdraw within 10 days prior to the event your cost center will be charged XX€.</p>
      <p> Please register within the next 14 days, if you do not accept your invite within the next 14 days, your invitation is automatically declined and another fellow from the waitlist is invited. </p>
      <p> Once you have accepted your invitation, you will receive an E-mail confirming your registration and providing you an IO to book your travel. Please do not book a hotel yet. The information regarding the hotel will be provided in the E-Mail.</p>

      <!-- Marketing Icons Section -->
      <div class="row">
          <div class="card w-80">
            <h4 class="card-header"> You are invited to the following event </h4>
                <!-- falls gewollt bild einfügen, sieht aber nicht unbedingt gut aus, wenn das Bild kein ordentliches Format hat
                <a href="#"><img class="card-img-top" class="embed-responsive-item" src="MachineLearning.jpg"></a>
              -->
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">"EXXX"</a>
                  </h4>
                  <p class="card-text">"EXXX" from "sdate" to "edate" in "elocation". </p>
                </div>
                <div class="card-footer">
              <a href="#" class="btn btn-lg btn-primary">Confirm</a>
              <a href="#" class="btn btn-lg btn-warning">Decline</a>
            </div>
          </div>

      </div>
      <!-- /.row -->
      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>If you have any further questions, please do not hesitate to contact Ed. </p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Contact Ed</a>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; S3LControl </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
